doctype html
html(lang=lang)
  head
    link(rel='stylesheet', href=skinUrl+'css/login.css')
    style.
      .logintableImgRow{
        display: none
      }
      .iconostd{
        display: none
      }
  body
    form(id="loginForm", action=forget, method="post")
      table.logintable
        tr.logintableLogoImgRow
          td(colspan=3)
            img.formImg(src='img/login-logo-icon.png')
        tr
          td(colspan=4)
            h2.formtitle=msgs.newPassword.forget
        tr.logintableImgRow
          td(colspan=3)
            img.formImg(src=skinUrl+'img/login-lock-icon.png')
        tr
          td.iconostd
            label(for="email")
              img.iconoslog(src=skinUrl+'img/iconoemail.png')
          td.formlabel
            label(for="email")=msgs.newPassword.email
          td.formtd
            input(id="email", type="text", name="email", autofocus=true, placeholder=emailLabel, autocomplete="email")
        tr
          td.iconostd.buttonmargin
          td.formlabel.buttonmargin
          td(colspan=4)
            input.submit(id="login", type="submit", value=msgs.newPassword.button)
        each errorLine in (flash.error||[])
          tr(style={color:'red'})
            td(colspan=5)=errorLine
        if forget
          tr
            td.iconostd
              img.iconoslog(src=skinUrl+'img/iconoforget.png')
            td.formlabel.forgetLabel(colspan=2)
              a(href='.'+forget)=msgs.newPassword.return
    script(src="compatibilidad.js")
