doctype html
html
  head
    link(rel='stylesheet', href="chpass.css")
  body
    form(id="chPassForm", action="chpass", method="post")
    table.chpasstable
        tr
          td(colspan=2).formtitle
            h2=formTitle
        tr
          td(colspan=2)
            img.chpassImg(src=skinUrl+'changepass.png')
        tr
          td.iconostd
            img.iconoslog(src=skinUrl+'iconopass.png')
          td.formtd
            input(id="oldPassword", type="password", name="oldPassword", placeholder=oldPasswordLabel)
        tr
          td.iconostd
            img.iconoslog(src=skinUrl+'icononewpass.png') 
          td.formtd    
            input(id="newPassword", type="password", name="newPassword", placeholder=newPasswordLabel)
        tr
          td.iconostd
            img.iconoslog(src=skinUrl+'iconoreppass.png') 
          td.formtd    
            input(id="repPassword", type="password", name="repPassword", placeholder=repPasswordLabel)
        tr
          td(colspan=2)
            input.submit(type="submit", value=buttonLabel)
        each errorLine in (flash.error||[])
          tr(style={color:'red'})
            td(colspan=5)=errorLine
    if strength
    script(src="strength-pass.js")