doctype html
html
  head
    link(rel='stylesheet', href='login.css')
  body
    form(id="loginForm", action="login", method="post")
      table.logintable
        tr
          td(colspan=2).formtitle
            h2=formTitle
        tr
          td(colspan=2)
            img.formImg(src=skinUrl+formImg)
        tr
          td.iconostd
            img.iconoslog(src='confort/'+'img/iconousuario.png')
          td.formtd
            input(id="username", type="text", name="username", autofocus=true, placeholder=usernameLabel)
        tr
          td.iconostd
            img.iconoslog(src=skinUrl+'iconopass.png') 
          td.formtd    
            input(id="password", type="password", name="password" placeholder=passwordLabel)
        tr
          td(colspan=2)
            input.submit(type="submit", value=buttonLabel)
        each errorLine in (flash.error||[])
          tr(style={color:'red'})
            td(colspan=5)=errorLine
    if autoLogin
      script(src="auto-login.js")