doctype html
html(lang=lang)
  head
    title index
    link(rel='stylesheet', href='dialog-promise.css')
    link(rel='stylesheet', href=skinUrl+'css/my-skin.css')
    link(rel='stylesheet', href='my-things.css')
    link(rel='stylesheet', href='my-tables.css')
    link(rel='stylesheet', href='menu.css')
    link(rel="shortcut icon"   , href=skinUrl+"img/ptable.png", type:"image/png")
    link(rel="apple-touch-icon", href=skinUrl+"img/ptable.png")
  body
    div#main_layout
      div#barra_superior
        img#main-logo(src=skinUrl+"img/ptable.png")
        span tables
        button#tables(id-table="ptable" ) ptable
        button#tables(id-table="pgroups") pgroups
        button#tables(id-table="isotopes") isotopes
        button#tables(id-table="element_images") images
        button#tables(id-table="bigint") bigint
      div#table_layout
    pre#status
    each script in modules.scripts
      script(src=script.src)
    if(lang=='es')
      script(src='cliente-en-castellano.js') 
    script(src='menu.js')
